.dialog{
    
    top: 296px;
left: 644px;
width: 632px;
height: 254px;
background: #373B42 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
}
.title{
    top: 312px;
left: 668px;
width: 106px;
height: 24px;
text-align: left;
font: normal normal normal 20px/16px Siemens Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.content{
    //border: dotted;
    top: 386px;
left: 668px;
width: 557px;
height: 200px;
opacity: 1;
}
.folder{
    top: 389px;
left: 675px;
width: 31px;
height: 38px;
//background: #FFFFFFA6 0% 0% no-repeat padding-box;
opacity: 0.7;
    font-size: 50px;
}
.bar{
    /*top: 2px;
left: 65px;
width: 500px;
height: 8px;*/
background: #627ED1 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 0.2;
    left: 60px;
    width: 85%;
}
.filename{
    top: 386px;
left: 60px;
width: 92px;
height: 19px;
text-align: left;
font: normal normal normal 16px/16px Siemens Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.icon{
    top: 390px;
left: 1212px;
width: 12px;
height: 12px;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}


.button{
    
    text-align: center;
    font: normal normal bold 14px/16px Siemens Sans;
    letter-spacing: 0.7px;
    color: #627ED1;
    opacity: 1;
    }