.btn-group {
 
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  position: relative;
  left: 83%;
}
  .tablecss{
    position: absolute;
    width: 95%;
    margin-top:5%;
    margin-left: 2%;
    // margin-right: 2%;
    
  }
  .list{
    position:absolute;
    width: 70px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Siemens Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  .bar{
    position: relative;
    width: 100%;
  }
  td{
    background: #1C2128;
    font-size: 13px;
  }

  .main-title{
    font: normal normal bold 24px/29px Siemens Sans;
    position: relative;
    top: 5px;
    padding: 2%;
    top: 5%;
    margin-bottom: 10%;
    // margin-left: 20%
}


  